# Ignore build and output directories
/.next/
/out/

# Ignore node_modules directory
/node_modules/

# Ignore static files
/public/

# Ignore coverage reports
/coverage/

# Ignore TypeScript/JavaScript configuration files
/tsconfig.json
/tsconfig.*.json
/jsconfig.json
commitlint.config.js

# Ignore package manager lock files
/package-lock.json
/yarn.lock

# Ignore log files
*.log

# Ignore test snapshots
/__tests__/**/*.snap